<p>¡Hola {{name}}! Estamos muy contentos de que hayas adquirido tu boleto de nuestro evento México Trasciende de este año</p>
<p>Adjunto a este correo encontrarás tu boleto digital, el cuál es muy importante que guardes ya que con él ingresarás al evento</p>
<p>Por otro lado, requerimos que ingreses a nuestra plataforma web para poder concluir el proceso</p>
<p>URL: <a href="https://mexicotrasciende.com.mx/login">https://mexicotrasciende.com.mx/login</a></p>
<p>Usuario: {{email}}</p>
<p>Contraseña: {{password}} (Se te pedirá cambiarla)</p>