<html>
<head>
    <meta charset="utf8">
    <title>Boleto Digital México Trasciende 2019</title>
    <link rel="stylesheet" href="https://fontlibrary.org/face/bebas" type="text/css"/>
    <style>
        html, body {
            padding: 0px;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/mxtrasciende-a593f.appspot.com/o/BOLETO%20MXT%20(1).jpg?alt=media&token=3b93c578-8e41-4eee-b0b4-6694eaab146a');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        @media print {
            body {
                -webkit-print-color-adjust: exact;
            }
        }

        @page {
            size: A4 landscape;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin: 0;
            -webkit-print-color-adjust: exact;

        }

        .qrcode {
            position: absolute;
            width: 19.4%;
            height: 34.5%;
            top: 38.8%;
            left: 71.4%;
        }

        .folio {
            font-size: 4em;
            color: white;
            position: absolute;
            top: 71%;
            left: 83%;
            font-family: 'BebasNeueRegular';
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <img src="<%= qrPath %>" alt="qr" class="qrcode">
    <p class="folio"><%= folio %></p>
</body>
</html>